*
{
	margin:0px;
	padding: 0px;
	box-sizing: border-box; 
}
h1
{    margin-top: 40px;
	 background-color: #5fe8e8;
	 
	 text-align: center;
	 margin-bottom: 20px;
	 font-size: 3.0em;
	 font-family:Bradley Hand, cursive;
}
.iamh2
{
	font-size: 2.0em;
	margin-bottom: 15px;
	font-family: Georgia, serif;
	text-align: right;
	padding-right: 10px;

}
.navbar
{
	background-color: #9c9695;
	display: flex;
	justify-content:left
	

}
.navbar a
{   
	color: black;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 28px;
	font-size: 1.2em;
}
.navbar a:hover
{
	background-color: white;
	color: black;
}	
.content
{
    text-align: justify;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;

}

.divide
{
    text-align: justify;
    margin-bottom: 30px;	
}
#toggle
{
	display: none;
} 
.togglearea
{
	background-color:  #9c9695;
	border-bottom: 2px solid white;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
.togglearea label
{
	background-color: white;
	height: 40px;
	width: 40px;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.togglearea label span
{
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 2px 0px;
}
.togglearea
{
	display: none;
}
@media screen and (max-width: 700px)
{
    .navbar
    {
    	flex-direction: column; 
    	display: none;
    }
    #toggle:checked + .navbar
    {
    	display: flex;
    }
    .togglearea
{
	display: flex;
}
}
	
